<div
  *appShowOnScreenSize="[
    ScreenSize.XSmall,
    ScreenSize.Small,
    ScreenSize.Medium,
    ScreenSize.Large,
    ScreenSize.XLarge
  ]"
  id="notepad"
  class="notepad"
  appBringToFront
  [componentId]="'notepad'"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  [ngStyle]="style"
  mwlResizable
  [validateResize]="resizeService.validate"
  [enableGhostResize]="true"
  [resizeSnapGrid]="{ left: 1, right: 1 }"
  (resizeEnd)="onResizeEnd($event)"
>
  <div class="notepad-container">
    <div class="notepad-header" cdkDragHandle>
      <div class="notepad-title">Notepad</div>
      <div class="notepad-controls">
        <button class="notepad-minimize" (click)="toggleMinimizeNotepad()">
          <div class="icon-minimize"></div>
        </button>
        <button
          *ngIf="!this.appInstance.isMaximized"
          class="notepad-maximize"
          (click)="toggleMaximizeNotepad()"
        >
          <div class="icon-maximize"></div>
        </button>
        <button
          *ngIf="this.appInstance.isMaximized"
          class="notepad-restore-maximize"
          (click)="toggleRestoreMaximizeNotepad()"
        >
          <div class="icon-unmaximize"></div>
        </button>
        <button class="notepad-close" (click)="toggleCloseNotepad()">
          <div class="icon-close"></div>
        </button>
      </div>
    </div>
    <div class="notepad-content">
      <div class="notepad-text">Hello World!</div>
      <div class="notepad-text">Hello World!</div>
      <div class="notepad-text">Hello World!</div>
    </div>
  </div>

  <div
    class="resize-handle-top"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"
  ></div>
  <div
    class="resize-handle-left"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"
  ></div>
  <div
    class="resize-handle-right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
  <div
    class="resize-handle-bottom"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"
  ></div>
</div>
