<div class="taskbar">
  <div class="taskbar-container">
    <div class="taskbar-icons">
      <span class="icon-logo icon-img"></span>
      <div *ngFor="let app of openedApps" class="taskbar-icon">
        <div
          class="icon-img"
          [ngClass]="getIconClass(app.name)"
          (click)="toggleMinimizedApp(app)"
        ></div>
      </div>
    </div>
  </div>

  <div class="time-container" (click)="toggleCalendar($event)">
    {{ timer }}
  </div>
</div>

@if (isOpen) {
<app-calendar></app-calendar>
}
