<div
  *appShowOnScreenSize="[
    ScreenSize.XSmall,
    ScreenSize.Small,
    ScreenSize.Medium,
    ScreenSize.Large,
    ScreenSize.XLarge
  ]"
  id="folder"
  class="folder"
  appBringToFront
  [componentId]="'folder'"
  data-app-id="folder"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  [ngStyle]="style"
  mwlResizable
  [validateResize]="resizeService.validate"
  [enableGhostResize]="true"
  [resizeSnapGrid]="{ left: 1, right: 1 }"
  (resizeEnd)="onResizeEnd($event)"
>
  <div class="folder-container">
    <div class="folder-header" cdkDragHandle>
      <div class="folder-title">System Folder</div>
      <div class="folder-controls">
        <button class="folder-minimize" (click)="toggleMinimizeFolder()">
          <div class="icon-minimize"></div>
        </button>
        <button
          *ngIf="!this.appInstance.isMaximized"
          class="folder-maximize"
          (click)="toggleMaximizeFolder()"
        >
          <div class="icon-maximize"></div>
        </button>
        <button
          *ngIf="this.appInstance.isMaximized"
          class="folder-restore-maximize"
          (click)="toggleRestoreMaximizeFolder()"
        >
          <div class="icon-unmaximize"></div>
        </button>
        <button class="folder-close" (click)="toggleCloseFolder()">
          <div class="icon-close"></div>
        </button>
      </div>
    </div>
    <div class="folder-content">
      <div class="icons">
        <div class="icon" (click)="openCalculator('calculator')">
          <div class="icon-calculator icon-img"></div>
          <p class="icon-label">Calculator</p>
        </div>
        <div class="icon" (click)="openCmd('cmd-terminal')">
          <div class="icon-cmd icon-img"></div>
          <p class="icon-label">Command Prompt</p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="resize-handle-top"
    mwlResizeHandle
    [resizeEdges]="{ top: true }"
  ></div>
  <div
    class="resize-handle-left"
    mwlResizeHandle
    [resizeEdges]="{ left: true }"
  ></div>
  <div
    class="resize-handle-right"
    mwlResizeHandle
    [resizeEdges]="{ right: true }"
  ></div>
  <div
    class="resize-handle-bottom"
    mwlResizeHandle
    [resizeEdges]="{ bottom: true }"
  ></div>
</div>

<!-- @for(app of appInstances; track $index) { @if(!app.isMinimized) { @switch
(app.name) { @case ('calculator') {
<app-calculator
  [appInstance]="app"
  (close)="closeCalculator(app.id)"
  (minimize)="minimizeCalculator(app.id)"
></app-calculator>
} } } } -->
