.folder {
  background-color: var(--color-very-light-gray);

  box-shadow: 0 4px 8px var(--color-black);
  border: 1px solid var(--color-black);

  position: fixed;
  inset: 0px;

  width: 400px;
  height: 600px;

  max-width: 100vw;
  max-height: 100dvh;

  resize: both;
}

.folder-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-very-light-gray);
  color: var(--color-black);
  box-shadow: 0 2px 0 var(--color-black);

  padding: 5px;
  margin: auto;
}

.folder-title {
  font-size: 1rem;
  user-select: none;
}

.folder-controls {
  display: flex;
  gap: 4px;

  button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
    border: none;
  }
}

.folder-content {
  width: 100%;
  height: 90%;

  overflow-y: auto;
  overflow-x: hidden;

  white-space: normal;
  overflow-wrap: break-word;

  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  box-sizing: border-box;
}

.folder-content::-webkit-scrollbar {
  width: 25px;
  background-color: var(--color-very-light-gray);
}

.folder-content::-webkit-scrollbar-track {
  background-color: var(--color-light-gray);
  border: 2px solid var(--color-black);
}

.folder-content::-webkit-scrollbar-thumb {
  background-color: var(--color-very-light-gray);
  border: 2px solid var(--color-black);
}

.folder-content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray);
}

.folder-content::-webkit-scrollbar-button:single-button:vertical:decrement {
  width: 25px;
  height: 25px;
  background-color: var(--color-very-light-gray);
  border: 2px solid var(--color-black);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16"%3E%3Cpath fill="%23666" d="M10 6L4 12h12L10 6z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.folder-content::-webkit-scrollbar-button:single-button:vertical:increment {
  width: 25px;
  height: 25px;
  background-color: var(--color-very-light-gray);
  border: 2px solid var(--color-black);
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="16" height="16"%3E%3Cpath fill="%23666" d="M10 14L4 8h12l-6 6z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center;
}

.folder-content::-webkit-scrollbar-button:single-button:hover {
  background-color: var(--color-gray);
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

// .icon-img {
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
// }

.icon-label {
  margin-top: 1rem;
  background-color: var(--color-very-light-gray);
  padding: 0;
  margin: 8px;
  text-align: center;
}

mwlResizable {
  box-sizing: border-box;
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
  top: 0;
}

.resize-handle-right {
  right: 0;
  top: 0;
}
