<div
  *appShowOnScreenSize="[
    ScreenSize.XSmall,
    ScreenSize.Small,
    ScreenSize.Medium,
    ScreenSize.Large,
    ScreenSize.XLarge
  ]"
  id="folder"
  class="folder"
  appBringToFront
  [componentId]="'folder'"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  [ngStyle]="style"
  mwlResizable
  [validateResize]="resizeService.validate"
  [enableGhostResize]="true"
  [resizeSnapGrid]="{ left: 1, right: 1 }"
  (resizeEnd)="onResizeEnd($event)"
>
  <div class="folder-container">
    <div class="folder-header" cdkDragHandle>
      <div class="folder-title">System Folder</div>
      <div class="folder-controls">
        <button class="folder-minimize" (click)="toggleMinimizeNotepad()">
          <div class="icon-minimize"></div>
        </button>
        <button
          *ngIf="!this.appInstance.isMaximized"
          class="folder-maximize"
          (click)="toggleMaximizeNotepad()"
        >
          <div class="icon-maximize"></div>
        </button>
        <button
          *ngIf="this.appInstance.isMaximized"
          class="folder-restore-maximize"
          (click)="toggleRestoreMaximizeNotepad()"
        >
          <div class="icon-unmaximize"></div>
        </button>
        <button class="folder-close" (click)="toggleCloseNotepad()">
          <div class="icon-close"></div>
        </button>
      </div>
    </div>
    <div class="folder-content">
      <div class="folder-text">Hello World!</div>
      <div class="folder-text">Hello World!</div>
      <div class="folder-text">Hello World!</div>
    </div>
  </div>
</div>
