.icon-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-logo2 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/logo2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-folder {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-folder2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-trash {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-trash-can.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-files-notes {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-files-notes.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-printer {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-printer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-mailbox {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-mailbox.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-cmd {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-cmd.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-music {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-music.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-sticky-note {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-sticky-note.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-minimize {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/interface-minimize.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-maximize {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/interface-maximize.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-unmaximize {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/interface-unmaximize.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-close {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../icons/interface-close.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-calculator {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-calculator.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-one {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-one-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-two {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-two-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-three {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-three-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-four {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-four-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-five {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-five-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-six {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-six-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-seven {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-seven-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-eight {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-eight-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-nine {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-nine-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-number-zero {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-zero-num.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-plus {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-minus {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-minus.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-multiply {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-multiply.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-divide {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-divide.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-equals {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-equals.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-clear {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-clear.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-backspace {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-backspace.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-decimal {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url("../icons/interface-decimal.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-play {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/interface-btn-play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-pause {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/interface-btn-pause.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-stop {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/interface-btn-stop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-next {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/interface-btn-next.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-previous {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../icons/interface-btn-prev.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
