<app-taskbar></app-taskbar>
<div
  class="home"
  *appShowOnScreenSize="[
    ScreenSize.XSmall,
    ScreenSize.Small,
    ScreenSize.Medium,
    ScreenSize.Large,
    ScreenSize.XLarge
  ]"
>
  <div class="home-container">
    <div class="icons">
      <div class="icon" (click)="open('notepad')">
        <div class="icon-files-notes icon-img"></div>
        <p class="icon-label">Notepad</p>
      </div>
      <div class="icon" (click)="open('folder')">
        <div class="icon-folder icon-img"></div>
        <p class="icon-label">
          System <br />
          Folder
        </p>
      </div>
      <div class="icon" (click)="open('printer')">
        <div class="icon-printer icon-img"></div>
        <p class="icon-label">Printer</p>
      </div>
      <!-- <div class="icon">
        <div class="icon-mailbox icon-img"></div>
        <p class="icon-label">E-mail</p>
      </div> -->
    </div>
  </div>
  <div class="icon trash" (click)="showTrashBubble()">
    <div class="icon-trash icon-img"></div>
    <p class="icon-label">Trash</p>
  </div>
</div>

<app-bubble
  #trashBubble
  [direction]="'right'"
  [bubbleType]="'trash-can'"
></app-bubble>

@for(app of appInstances; track $index) { @if(!app.isMinimized) {
@switch(app.name) { @case ('notepad') {
<app-notepad
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
  (maximize)="maximize(app.id)"
  (restoreMaximized)="restoreMaximized(app.id)"
>
</app-notepad>
} @case ('folder') {
<app-folder
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
  (maximize)="maximize(app.id)"
  (restoreMaximized)="restoreMaximized(app.id)"
></app-folder>
} @case ('calculator') {<app-calculator
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
></app-calculator>
} @case ('cmd-terminal') {<app-cmd-terminal
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
  (maximize)="maximize(app.id)"
  (restoreMaximized)="restoreMaximized(app.id)"
></app-cmd-terminal>
} @case ('music-player') {<app-music-player
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
></app-music-player
>} @case ('printer') {<app-printer
  [appInstance]="app"
  (close)="close(app.id)"
  (minimize)="minimize(app.id)"
></app-printer
>} } } }
