$background-color: #F4F4F4;
$color-text: #0704A8;
$font-size: 110px;

.main_wrap {
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.container {
    width: 1200px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: auto;
    padding: 1rem;
    background-color: $background-color;

}

.text_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-page_container {
    flex-direction: column;
    justify-content: flex-end;
}

.home-page_container>.text_wrapper.home-page_text {
    margin: 3rem 2rem;
}

.text_title {
    color: $color-text;
    font-size: $font-size;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 5.5rem;
}

.about-page_container {
    // height: 1600px;
    // flex-direction: column;
    // align-items: flex-end;
    justify-content: space-between;
}

.text_title-about {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.about-page_container>.text_wrapper.about-page_text {
    flex-basis: 60%;
    // width: 700px;
    margin: 3rem 2rem;
    gap: 1rem;
}

.about-page_container>.text_wrapper.about-page_text>span {
    color: #202020;
    font-size: 40px;
}

.stack-page_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.marquee-container {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
}

.marquee-text {
    color: $color-text;
    font-size: 70px;
    flex-shrink: 0;
    padding: 0 10px;
    font-smooth: always;
}