<main class="main_wrap" id="main_wrap" #mainWrap>
    <app-header></app-header>

    <section class="container home-page_container" #firstContainer>
        <div class="text_wrapper home-page_text">
            <span class="text_title" #textTitleOne>Melina Diaz
            </span>
            <span class="text_title" #textTitleTwo>Full-Stack Developer
            </span>
        </div>
    </section>

    <section class="container about-page_container" #secondContainer>
        <span class="text_title text_title-about" id="title">About me</span>
        <div class="text_wrapper about-page_text">
            <span class="content_marker" data-marker-content="title" #textTitleThree>
                Hello there! I'm a passionate full-stack developer with a special focus on web development, animations
                and micro-interactions that constantly drives me to explore new ways of creating captivating digital
                experiences. </span>
            <span class="content_marker" #textTitleFour>I excel in problem-solving, thanks to my curious nature,
                enabling me to create
                adaptable and efficient solutions that enhance code quality and user experience. </span>
            <span class="content_marker" #textTitleFive>I'm always eager to learn and stay updated with the latest
                technologies, allowing me to
                continuously evolve and tackle challenges with enthusiasm.</span>
        </div>
    </section>

    <section class="container stack-page_container" #thirdContainer>
        <div class="banner" #banner>
            <div class="marquee-container" #marqueeContainer>
                <div class="marquee-text first__marquee">JavaScript <small>MD</small> TypeScript <small>MD</small>
                    Angular <small>MD</small> </div>
                <div class="marquee-text first__marquee">JavaScript <small>MD</small> TypeScript <small>MD</small>
                    Angular <small>MD</small> </div>
                <div class="marquee-text first__marquee">JavaScript <small>MD</small> TypeScript <small>MD</small>
                    Angular <small>MD</small> </div>
                <div class="marquee-text first__marquee">JavaScript <small>MD</small> TypeScript <small>MD</small>
                    Angular <small>MD</small> </div>
                <div class="marquee-text first__marquee">JavaScript <small>MD</small> TypeScript <small>MD</small>
                    Angular <small>MD</small> </div>
            </div>

            <div class="marquee-container" #marqueeContainer>
                <div class="marquee-text second__marquee">Java <small>MD</small> Node.js <small>MD</small>
                    Express.js <small>MD</small> </div>
                <div class="marquee-text second__marquee">Java <small>MD</small> Node.js <small>MD</small>
                    Express.js <small>MD</small> </div>
                <div class="marquee-text second__marquee">Java <small>MD</small> Node.js <small>MD</small>
                    Express.js <small>MD</small> </div>
                <div class="marquee-text second__marquee">Java <small>MD</small> Node.js <small>MD</small>
                    Express.js <small>MD</small> </div>
                <div class="marquee-text second__marquee">Java <small>MD</small> Node.js <small>MD</small>
                    Express.js <small>MD</small> </div>
            </div>
        </div>
    </section>
</main>